<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <script> window.userToken = "othello" </script>

  <title>Hello Othello!</title>
  <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
</head>

<!-- Background Image Source: http://cdn.akamai.steamstatic.com/steamcommunity/public/images/items/307430/769489f1336ad61ab6ca83770bbc642ab1db9207.jpg-->
<main role="main">
  <%= render @view_module, @view_template, assigns%>
</main>      
<script src="<%= static_path(@conn, "/js/app.js") %>"></script>
</html>

