/* This file is for your main application css. */

@import "bootstrap";

/* Gameboard  css  */

#gameboard .card {
  width: 55px;
  height: 55px;
  text-align: center;
  background-color:#17712B;  
}


#gameboard .cardFlip1:hover{
transition: box-shadow 1s;
  background-image: url("http://othellogame.net/revello/images/chip-mini-black-1x.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #17712B;
  background-size: 70% 7 0%;
}

#gameboard .table th,#gameboard .table td{
	padding: 0.01rem;
	border: 3px solid black;
}


#gameboard .cardFlip {
  width: 55px;
  height: 55px;
  text-align: center;
  transition: .4s;
  /* white */
  /* Image Source :  http://othellogame.net/revello/; */
  background-image: url("http://othellogame.net/revello/images/chip-white-1x.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-color:	#17712B; 
}
#gameboard .cardFlip1 {
  transition: .4s;
  width: 55px;
  height: 55px;
  text-align: center;
  /* white */
  /* Image Source :  http://othellogame.net/revello/; */
  background-color: #17712B; 
}

#gameboard .cardReveal{
  transition: .4s;
  width: 55px;
  height: 55px;
  text-align: center;
  font-size:250%;
  /* black */
  background-image: url("http://othellogame.net/revello/images/chip-black-1x.png");
  background-color:	#17712B;
  background-repeat: no-repeat;
  background-position: center center;
}

#gameboard .middlefont{
padding-top:8px;
}

#gameboard .card span {
  line-height: 55px;
}

#gameboard .table{
	width: 30%;
}

#gameboard .player1{
	height: 350px;
	margin-bottom:40px;
	padding-top: 15px;
	margin-right: 15px;
	width: 270px;
	background-color: transparent;
}

#gameboard .player2{
	height: 350px;
	margin-bottom:40px;
	padding-top: 15px;
	margin-left: 15px;
	width: 270px;
	background-color: transparent;
}



@media only screen and (max-width: 500px) {

#gameboard .progressBar{
	width: 320px;
}

#gameboard .card {
	width: 35px;
	height: 35px;
	text-align: center;
	font-size:170%;
	background-color:#20b2aa;
	}

#gameboard .card span {
  line-height: 35px;
}


#gameboard .cardFlip {
	width: 35px;
	height: 35px;
	text-align: center;
	font-size:170%;
	background-color: white;
	}

#gameboard .cardReveal{
	width: 35px;
	height: 35px;
	text-align: center;
	font-size:170%;
	background-color: black;
	}

#gameboard .middlefont{
	padding-top:4px;
}
}

/* credits for API: https://github.com/brandonmowat/react-chat-ui/blob/message-groups/demo/index.html*/
.chatcontainer {
  max-width: 450px;
  margin: 0 auto;
  margin-top: 20px;
}

.install {
  text-align: center;
  margin: 20px auto;
}

.chatfeed-wrapper input {
  border: none;
  border-top: 1px solid #ddd;
  font-size: 16px;
  padding: 10px;
  height: 60%;
  width: 100%;
}

.chatfeed-wrapper input:focus {
  outline: none;
}

.chatfeed-wrapper {
  box-shadow: 0 20px 20px rgba(0, 0, 0, .08);
  border-radius: 4px;
  max-width: 350px;
  margin: 0 auto;
  border: 1px solid #ddd;
  padding-bottom: 5px;
}

#chat-panel {
  padding: 0px 10px;
}

.chat-history {
  display: block;
  min-height: 250px;
}

.text-center {
  text-align: center;
}